@{
    ViewBag.Title = "Login";
}

<h2>Ingrese Usuario</h2>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
  <!-- Usuario input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="inputUsuario" class="form-control form-control-lg" />
    <label class="form-label" for="inputUsuario">Usuario</label>
  </div>

  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" id="inputPsswd" class="form-control form-control-lg" />
    <label class="form-label" for="inputPsswd">Contraseña</label>
  </div>

  <!-- Submit button -->
  <button id="btnValidarUsuario" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">
    Sign in
  </button>

  <div class="divider d-flex align-items-center my-4">
    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
  </div>

  <a id="btnRegistarUsuario" data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
    <i class="fab fa-facebook-f me-2"></i>Register User
  </a>
</form>
      </div>
    </div>
  </div>
</section>
<script src="~/js/login.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
